#canvas{
    border: 1px solid black;
}
#canvasContainer{
    width: 75%;
    height: 100%;
    line-height:0;

   }
#sidebarContainer{
 width: 25%;
 height: 100%;
 padding-left: 2em;
}
.rowsDiv{
    display:flex;
    flex-direction: column;
}
input { display: table-cell;
    border-style: solid;
    border-color: black;
    border-radius: 4px; }

.inputField,.inputFieldError {
    max-width: 75%;
    margin: 5px; 
}
.inputFieldError{
    border-color: red;
}
.collapsibleButton{
    text-align: left;
    width: 95%;
    font-size: 15px;
}
#editorContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.parse_area{
    visibility: collapse;

    width: 40%;
height: 90%;
left: 30%;
top: 5%;

}
.container{
    position: absolute;
    background-color: whitesmoke;
    border: black;
    border-style: solid;
    border-width: thin;
    display: flex;
    flex-direction: column;
}
.detail_area{
    padding: 2vh;
    opacity: 0.9;
}
.parse_text
{
    margin-left: 5%;
    flex-grow: 1;
    margin-right: 5%;
    margin-top: 5%;
}

.button_row {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
}
.sidebarTable  { display: table;      }
.sidebarRow     { display: table-row;  }

textarea {
    resize: none;
  }
label { display: table-cell; }
